<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : 499086557137331,
            cookie     : true,
            xfbml      : true,
            version    : 'v2.10'
        });


        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if(response.status === "connected"){
            console.log("Loggedin and authenticated");
//            setElements(true)
            testApi();
        }else{
            console.log("Not authenticated");
//            setElements(false)
        }
    }


    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    function testApi(){
//        FB.api('me?fields=about,feed', function(response){
//            if(response && !response.error){
//                console.log(response);
//            }
//        })
        FB.api(
            '/me',
            'GET',
            {"fields":"about,email"},
            function(response) {
                if(response && !response.error){
                    console.log(response);
                }
            }
        );
    }
</script>

<h1>FB authentication</h1>


<fb:login-button
        scope="public_profile,email"
        onlogin="checkLoginState();">
</fb:login-button>




</body>
</html>